Repository JeremyBon/Ploutos: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_stages: [pre-commit]
fail_fast: false
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        files: ^back/
      - id: ruff
        name: ruff-check
        args: []
        files: ^back/
      - id: ruff-format
        files: ^back/
  - repo: local
    hooks:
      - id: check-package-files
        name: Check npm and prettier config files are tracked
        entry: bash -c 'git ls-files --error-unmatch front/package.json front/package-lock.json front/.prettierrc.json >/dev/null 2>&1 || { echo "Error - Required front config files missing or not tracked"; exit 1; }'
        language: system
        pass_filenames: false
        always_run: true
      - id: prettier
        name: Prettier (auto-fix)
        entry: bash -c 'cd front && files=("$@"); files=("${files[@]#front/}"); npx prettier --write "${files[@]}"' --
        language: system
        files: ^front/.*\.(js|jsx|ts|tsx|json|css|mjs)$
        pass_filenames: true
      - id: eslint
        name: ESLint (auto-fix)
        entry: bash -c 'cd front && files=("$@"); files=("${files[@]#front/}"); npx eslint --fix "${files[@]}"' --
        language: system
        files: ^front/src/.*\.[jt]sx?$
        pass_filenames: true

chore: 🗑️ old changelog
  README.md
Due: none

fix: 🐛 simplify get_transaction endpoint
  README.md
  back/ploutos/api/routers/transactions.py
Due: none

fix: 🐛 simplify get_transaction endpoint (#13)
  README.md
  back/ploutos/api/routers/transactions.py
Due: none

fix: mr auto merge
  .github/workflows/release-please.yml
Due: none

chore: remove .DS_Store files from repository
  back/.DS_Store
Due: none

chore: remove ds_store
  .gitignore
Due: none

Fix/get transaction (#15)
  .github/workflows/release-please.yml
  .gitignore
  back/.DS_Store
Due: none

fix: autorelease
  .github/workflows/release-please.yml
Due: none

Fix/get transaction (#16)
  .github/workflows/release-please.yml
Due: none

feat: 🎨 sort by date or amount main transaction
  .github/workflows/release-please.yml
  front/src/app/page.tsx
  front/src/app/transfers/page.tsx
Due: prettier, eslint

feat: 🎨 improve transactions filters
  front/src/app/transactions/page.tsx
Due: prettier, eslint

feat: ✨ refacto account page
  front/src/app/account-settings/page.tsx
  front/src/components/Navigation.tsx
Due: prettier, eslint

feat: ➕ add archive for accounts
  back/ploutos/api/routers/accounts.py
  back/ploutos/db/models.py
  front/src/app/account-settings/page.tsx
Due: prettier, eslint

feat: ✨improve visibility in accounts
  front/src/app/account-settings/page.tsx
Due: prettier, eslint

feat: 🎨 update front
  .github/workflows/release-please.yml
  back/ploutos/api/routers/accounts.py
  back/ploutos/db/models.py
  front/src/app/account-settings/page.tsx
  front/src/app/page.tsx
  front/src/app/transactions/page.tsx
  front/src/app/transfers/page.tsx
  front/src/components/Navigation.tsx
Due: prettier, eslint

feat: 👷 ci unify release
  .github/workflows/release-please.yml
  .release-please-manifest.json
  back/CHANGELOG.md
  release-please-config.json
  version.txt
Due: none

chore: test_ci
  .github/workflows/release-please.yml
Due: none

fix: ci auto release
  .github/workflows/release-please.yml
Due: none

fix: ci release
  .github/workflows/release-please.yml
Due: none

fix: 💚 test3 ci
  .github/workflows/release-please.yml
Due: none

fix: 💚 test4 ci
  .github/workflows/release-please.yml
Due: none

feat: 👷beautify release
  release-please-config.json
Due: none

feat: 🎨improve visibility on front
  back/ploutos/api/routers/accounts.py
  front/src/app/page.tsx
  front/src/app/transactions/page.tsx
  front/src/app/transfers/page.tsx
Due: prettier, eslint

fix: transfer month picker
  front/src/app/transfers/page.tsx
Due: prettier, eslint

feat: ♻️ refacto transaction on landing page
  front/src/app/page.tsx
  front/src/app/transactions/page.tsx
Due: prettier, eslint

feat: ✨ improve matching definition
  .pre-commit-config.yaml
  README.md
  back/ploutos/api/routers/matching.py
  back/ploutos/db/models.py
  back/ploutos/services/matching_service.py
  back/tests/conftest.py
  back/tests/processors/test_loan_processor.py
  back/tests/processors/test_processor_validation.py
  back/tests/processors/test_simple_split_processor.py
  front/src/app/categorization/page.tsx
  front/src/app/page.tsx
Due: prettier, eslint

test: 🧪add matching test
  back/ploutos/db/models.py
  back/ploutos/services/matching_service.py
  back/tests/test_matching_service.py
  front/src/app/categorization/page.tsx
Due: prettier, eslint

fix: 📝update readme
  README.md
Due: none

chore: 🚚change port
  README.md
  back/ploutos/api/main.py
  front/src/app/account-settings/page.tsx
  front/src/app/categorization/page.tsx
  front/src/app/page.tsx
  front/src/app/transactions/page.tsx
  front/src/app/transfers/page.tsx
  front/src/components/Navigation.tsx
  front/src/config/api.ts
Due: prettier, eslint

fix: 🐛 delete accounts with transactions
  back/ploutos/api/routers/accounts.py
Due: none

fix: 🐛errors with API url
  front/src/app/account-settings/page.tsx
  front/src/app/categorization/page.tsx
  front/src/app/page.tsx
Due: prettier, eslint

feat: 💫 add impossible to use update API on unchanged content
  front/src/app/account-settings/page.tsx
  front/src/app/categorization/page.tsx
  front/src/app/page.tsx
  front/src/app/transactions/page.tsx
  front/src/hooks/useFormDirty.ts
Due: prettier, eslint

fix: 🐛improve bar chart visibility
  front/src/app/page.tsx
Due: prettier, eslint

fix: 🐛match regex
  back/ploutos/api/routers/matching.py
  back/ploutos/services/matching_service.py
  back/tests/test_matching_service.py
  front/src/app/categorization/page.tsx
Due: prettier, eslint

fix: 🐛matching rpc regex
  back/ploutos/api/routers/matching.py
Due: none

feat: ✨add modify transaction component
  front/src/app/page.tsx
  front/src/app/transactions/page.tsx
  front/src/components/TransactionEditModal.tsx
Due: prettier, eslint

feat: 🎨improve transactionEdit structure
  front/src/app/page.tsx
  front/src/app/transactions/page.tsx
  front/src/components/TransactionEditModal.tsx
  front/src/components/TransactionEditModal/SlaveTransactionRow.tsx
  front/src/components/TransactionEditModal/index.tsx
  front/src/components/TransactionEditModal/types.ts
  front/src/components/TransactionEditModal/utils.ts
Due: prettier, eslint

feat: ✨add tests and lissage
  .pre-commit-config.yaml
  README.md
  back/ploutos/api/routers/accounts.py
  front/package-lock.json
  front/package.json
  front/src/components/TransactionEditModal/SlaveTransactionRow.tsx
  front/src/components/TransactionEditModal/SmoothingModal.tsx
  front/src/components/TransactionEditModal/__tests__/smoothingUtils.test.ts
  front/src/components/TransactionEditModal/index.tsx
  front/src/components/TransactionEditModal/smoothingUtils.ts
  front/src/components/TransactionEditModal/types.ts
  front/vitest.config.ts
  front/vitest.setup.ts
Due: prettier, eslint

fix: 🐛add test library
  front/package-lock.json
  front/package.json
Due: prettier

fix: 🐛date on lissage
  front/src/components/TransactionEditModal/smoothingUtils.ts
Due: prettier, eslint
